@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.container{
    border-top: 0px solid lightgrey;
    /* margin-top: 1rem; */
    margin-left: 5%;
    width: 90%;
    height: 55rem;
    display: flex;
    justify-content: unset;
}

.left-navigation{
    border-right: 1px solid lightgrey;
    width: 18rem;
    height: 96%;
    margin-left: 13rem;
    position: fixed;
}

.main-feed{
    margin-left: 29%;
    width: 35%;
    height: 96%;
    
}

.right-sidebar{
    border-left: 1px solid lightgrey;
    width: 20%;
    height: 96%;
}

.header{
   /*  display: flex; */
    display: block;
    border-bottom: 1px solid lightgrey;
    height: 3rem;
    width: 31.5%;
    position: fixed;
    background-color:white;
    z-index: 9999;
}

.header__heading{
    font-size: 1.3rem;
    font-weight: 2000;
    margin-top: 1rem;
    margin-left: 1rem;
}

.header__heading:hover{
    cursor: pointer;
}

.new-tweet-input{
    
    margin-top: 3rem;
    border-bottom: 1px solid lightgrey;
    height: 9rem;
}

.new-tweet-input-header{
    display: flex;
    flex-direction: row;
}

.new-tweet-input__profile-image{
    margin: 1rem 1rem 0 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.new-tweet-input__heading{
    color: rgba(73, 73, 73, 0.486);
    font-size: 1.2rem;
    margin: 2rem 1rem 0 0;
}

.new-tweet-input-footer{
    height: 2.5rem;
    margin: 1.5rem 2rem 1rem 5rem;
}

.new-tweet-input-footer__icons{
    margin: 0rem;
    display: flex;
    flex-direction: row;
}

.newtweet-icons{
    margin-right: 1rem;
}

.tweet-button button{
    margin-left: 13rem;
    height: 2.3rem;
    width: 4.5rem;
    border: none;
    border-radius: 17px;
    color: white;
    background-color: rgb(21, 129, 218);
    font-weight: 700;
}

.nav-items{
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2.5rem;
}

.nav-items:hover{
    background-color: lightgrey;
    border-radius: 2rem;
    
}

.nav-items__icon{
    margin-right: 1.5rem;
}

.nav-items__heading{
    font-size: 1.2rem;
}

.side-button{
    background-color: rgb(17, 156, 236);
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-left: 30%;
    width: 9rem;
    height: 3rem;
    border-radius: 10rem;
}


/* 
/*
/* NewsFeed Styles */
/* 
*/

.tweet-container{
    margin-top: 0.5rem;
    
    
}

.tweet{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}

.tweet-newsfeed{
    border-top: 1px solid lightgrey;
    background-color: white;
    height: 20rem;
    display: flex;
    flex-direction: row;
}

.tweet:hover{
    background-color: rgb(233, 233, 233, 0.3);
    cursor: pointer;
}


.tweet__author-img{
  /*   border: 1px solid red; */
    padding: 10px;
    height: 79%;
}

.author-img{
    position: relative;
    height: 3rem;
    border-radius: 100%;
}

.tweet__article-container{
    /* border: 1px solid blue; */
    height: 85%;
    width: 100%;
}

.tweet__controllers{
   /*  border: 1px solid orange; */
    margin: -35px 0 0 0;
}

.controllers{
    margin-left: 17%;
}